
span.css-10trblm.e16nr0p33{
    color: #FF5A4F;
    border: 2px;
    border-radius: 5px;
    border: 1px solid ;
    border-color:black ;
    
}
button.css-1qrvfrg.edgvbvh1{
    color: #FF5A4F;
}
div.st-bb.st-bc.st-bv.st-bw.st-bx.st-b4.st-by.st-bz.st-bd.st-c0.st-c1.st-c2.st-c3{
    color: #FF5A4F;
    border: 1px solid black;
    
}